.main * {
  color: white;
}

body {
  background-image: url(../images/background2.jpg);
  background-size: cover;
}

header {
  background-color: grey;
  padding: 0.5rem 0;
}

header img {
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  padding: 0.25rem;
}

header div {
  justify-content: space-between;
}
nav {
  margin: auto;
  margin-right: 0;
}

nav img {
  display: none;
}

nav a {
  padding: 1rem;
}

.container {
  background-color: rgba(154, 154, 154, 0.6);
  padding: 1rem;
  border-radius: 0 2rem 2rem 2rem;
  min-height: 620px;
}

#home a {
  margin-left: 4rem;
  margin-bottom: 4rem;
}

#home img {
  width: 300px;
  height: 100%;
}

#service img {
  width: 20rem;
}

.card-bg {
  background-image: url(../images/background3.jpg);
  background-size: cover;
}

#projects h2 {
  padding-top: 40px;
}

.sample-work img {
  width: 90%;
  margin-left: 3rem;
}

#contact-form {
  width: 50%;
  margin: auto;
}

.form-inputs {
  width: 80%;
}

.form-inputs input,
.form-inputs textarea {
  border: 4px solid rgba(0, 0, 0, 0.4);
  background: none;
}

.form-inputs input::placeholder {
  color: white;
}

#exampleFormControlTextarea1 {
  resize: none;
}

footer {
  background-color: grey;
  padding: 2rem 0;
}

footer img {
  height: 2rem;
  padding-right: 0.25rem;
}

footer input {
  background: none;
}

form input::placeholder {
  color: white;
}

.social-links img {
  height: 3rem;
  margin-bottom: 0.5rem;
}

header a,
footer a,
footer p,
footer h1,
footer h5 {
  text-decoration: none;
  color: white;
}

footer ol {
  list-style: none;
}

@media screen and (max-width: 980px) {
  #contact {
    flex-direction: column;
  }

  nav {
    position: fixed;
    right: 0;
  }

  nav img {
    display: flex;
    position: relative;
  }
  nav a {
    display: none;
    flex-direction: column;
    align-self: end;
    text-align: right;
  }

  nav:hover {
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.6);
  }
  nav:hover a {
    display: flex;
  }

  .container {
    height: fit-content;
  }

  #home {
    flex-direction: column;
  }

  #home img {
    width: auto;
  }

  #service img {
    width: 5rem;
  }

  #projects {
    margin: 2rem auto;
  }

  .sample-work {
    margin-top: 2rem;
  }

  .sample-work img {
    margin: auto;
  }

  form input {
    width: 100%;
  }

  #contact-form {
    max-width: 400px;
  }

  .social-links ol {
    display: flex;
  }
}
